.container {
    padding-left: 30px;
    padding-right: 30px;
    @include atMedium {
        padding-left: 15px;
        padding-right: 15px;
    }
    @include atHuge {
        max-width: 1300px;
    }
}