.header {
  padding: 2.083rem 0;

  margin-bottom: 3.75rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.125);
  transition: all 0.25s;
  @include atMedium {
    padding: 1.5625rem 0;
    margin-bottom: 2.8125rem;
    box-shadow: none;
  }

  &__content  {
    position: relative;
    text-align: center;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 13.333rem;
    position: relative;
    z-index: 1;
    @include atMedium {
      width: 10rem;
    }

    &-img {
      width: 100%;
    }
  }

  &__btn {
    cursor: pointer;
    background: transparent !important;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 2.5rem;
    position: absolute;
    top: 3.25rem;
    right: 0;
    @include atMedium {
      display: none;
    }

    &-line {
      display: block;
      height: 3px;
      width: 2.5rem;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      border-radius: 0;
      transition: all 0.25s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 0;
      }
    }

    &:hover {
      .header__btn-line {
        background-color: $color-gray-drk;
      }
    }

    &.is-open {
      .header__btn-line {
        &:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__nav {
    position: relative;
    transition: all 0.25s;
    @include atMedium {
      display: block;
      transform: none;
      margin: 1.5rem 0 0 0;
      padding: 0;
    }
    @include atLarge {
      position: absolute;
      bottom: 1.125rem;
      left: 15px;
      width: calc(100% - 30px);
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 150vw;
      height: 100%;
      transform: translateX(-25vw);
      background-color: $color-primary;
      pointer-events: none;
      box-shadow: inset 0 0.5rem 1rem rgba($color-black, 0.125);
      @include atMedium {
        display: none;
      }
    }

    &.is-open {
      margin-top: 2.083rem;
    }
  }

  &__menu {
    display: none;
    padding: 2.5rem 0;
    @include atMedium {
      padding: 0;
      display: flex !important;
      align-items: center;
      justify-content: space-between;
    }

    &-item {
      color: $color-white;
      font-weight: 500;
      line-height: 1;
      font-size: 1.25rem;
      @extend .p--sm;
      @include atMedium {
        color: $color-gray-drk;
        font-size: 0.75rem;
      }

      & + & {
        margin-top: 1.875rem;
        @include atMedium {
          margin-top: 0;
          margin-left: 1rem;
        }
        @include atLarge {
          margin-left: 2rem;
        }
        @include atExtralarge {
          margin-left: 2.8125rem;
        }
      }

      &--spacer {
        display: none;
        @include atLarge {
          display: block;
          flex: 1;
          margin: 0 !important;
        }

        & + .header__menu-item {
          @include atLarge {
            margin-left: 0;
          }
        }
      }

      &.is-active {
        color: $color-gray-drk;
        @include atMedium {
          color: $color-primary;
        }
      }
    }

    &-link {
      &:hover {
        color: $color-gray-drk;
        @include atMedium {
          color: $color-primary;
        }
      }
    }
  }

  &.is-open {
    box-shadow: none;
  }

  &--alt {
    margin-bottom: 0;

    &.is-open {
      padding-bottom: 0;
    }
  }
}
