input,
select,
textarea {
    height: 4.583rem;
    width: 100%;
    background-color: $color-white-5;
    padding: 0 5rem  0 2.167rem;
    color: $color-gray-lgt-5;
    appearance: none;
    resize: none;
    border-radius: 0;
    border: 1px solid $color-white-5;
    transition: all .25s;
    @extend .p;
    @extend .p--lg;
    @include atMedium {
        height: 3.4375rem;
        padding: 0 3.75rem 0 1.625rem;
    }

    &:focus {
        border-color: $color-primary;
    }

    &::placeholder {
        color: $color-gray-lgt-5;
    }
}

select {
    background-image: url("../images/i-caret-down.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    background-position: calc(100% - 1.667rem) center;
    @include atMedium {
        background-size: 1.125rem auto;
        background-position: calc(100% - 1.667rem) center;
    }
}

textarea {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 8.333rem;
    @include atMedium {
        padding-top: .75rem;
        padding-bottom: .75rem;
        height: 6.25rem;
    }
}

button {
    height: 4.583rem;
    width: 100%;
    background-color: $color-gray-lgt-7;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5px;
    cursor: pointer;
    font-size: 1.75rem;
    transition: all .25s;
    @extend .p;
    @include atMedium {
        height: 3.4375rem;
        font-size: 1.3125rem;
    }

    &:hover {
        background-color: $color-primary;
    }
}