// Margin
.u-margin {
    &-bottom {
        &-md {
            margin-bottom: 2.083rem;
            @include atMedium {
                margin-bottom: 1.5625rem;
            }

            &-2 {
                margin-bottom: 2.5rem;
                @include atMedium {
                    margin-bottom: 1.875rem;
                }
            }
        }

        &-lg {
            margin-bottom: 3rem;

            &-2 {
                margin-bottom: 4.6875rem;
            }
        }
    }

    &-md {
        @include atMedium {
            &-bottom {
                &-lg {
                    &-2 {
                        margin-bottom: 4.6975rem;
                    }
                }
            }
        }
    }
}


// Padding
.u-padding {
    &-vertical {
        &-xl {
            padding-top: 9.375rem;
            padding-bottom: 9.375rem;
        }
    }

    &-bottom {
        &-xl {
            padding-bottom: 9.375rem;
        }
    }
}


// Font weight
.u-weight {
    &-lgt {
        font-weight: 300;
    }
    
    &-reg {
        font-weight: 400;
    }

    &-bld {
        font-weight: 700;
    }
}


// Background
.u-bg {
    &-white {
        &-2 {
            background-color: $color-white-2;
        }
    }
}


// Color
.u-color {
    &-gray {
        &-lgt {
            color: $color-gray-lgt;

            &-2 {
                color: $color-gray-lgt-2;
            }

            &-3 {
                color: $color-gray-lgt-3;
            }
            
            &-8 {
                color: $color-gray-lgt-8;
            }
        }

        &-drk {
            &-2 {
                color: $color-gray-drk-2;
            }
        }
    }

    &-white {
        color: $color-white;
    }

    &-black {
        color: $color-black;
    }

    &-primary {
        color: $color-primary;

        &-alt {
            color: $color-primary-alt;
        }
    }

    &-secondary {
        color: $color-secondary;
    }
}


// Font family
.u-font {
    &-titles {
        font-family: $font-titles;
    }

    &-main {
        font-family: $font-main;
    }

    &-alt {
        font-family: $font-alt;
    }
}


// Letter spacing
.u-ls {
    &-0 {
        letter-spacing: 0;
    }

    &-sm {
        letter-spacing: .55px;
    }

    &-md {
        letter-spacing: .8px;

        &-2 {
            letter-spacing: 1px;
        }
    }

    &-lg {
        letter-spacing: 3px;
    }
}


// Line height
.u-lh {
    &-lg {
        line-height: 1.8;
    }
}