// Colors
$color-primary: #00a5a4;
$color-primary-drk: #249392;
$color-primary-lgt: #dbe5e7;
$color-primary-alt: #c2ecec;

$color-secondary: #60429d;

$color-gray: #404040;
$color-gray-drk: #181818;
$color-gray-drk-2: #141414;
$color-gray-lgt: #646464;
$color-gray-lgt-2: #4a4a4a;
$color-gray-lgt-3: #4b4b4b;
$color-gray-lgt-4: #979797;
$color-gray-lgt-5: #4f4f4f;
$color-gray-lgt-6: #9b9898;
$color-gray-lgt-7: #3e3d3d;
$color-gray-lgt-8: #434343;

$color-white: #ffffff;
$color-white-2: #f7f7f7;
$color-white-3: #fbfbfb;
$color-white-4: #eae0e0;
$color-white-5: #f4f4f4;
$color-white-6: #f9f9f9;
$color-black: #000000;

// Typography
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Playfair+Display|Roboto:300,400,500,700');

$font-titles: 'Playfair Display', 'Times New Roman', serif;
$font-main: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-alt: 'Oswald', 'Roboto Condensed', 'Arial Condensed', sans-serif;
